{% load static %}
<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'blog/style.css'%}">
    <link rel="icon" href="{% static 'blog/favicon.ico'%}">
</head>
<body>
    <div class="nadpis">
        <h1>Blogy</h1>
    </div>
    {% if posty %}
    <h2>Posts:</h2>
    
        {% for post in posty %}
        <div class="post">
        <h2>{{post.nadpis}}</h2>
        <h3>{{post.autor}}</h3>
        <h3>{{post.kategoria}}</h3>
        <p>Create date: {{post.create_date}} <br>
        Publish date: {{post.publish_date}}</p>
        <p>{{post.text}}</p>
        </div>
        {% endfor %}
    
    {% endif %}

    {% if autors %}
    <h2>Autors:</h2>
    <div class="post">
    <ul>
        {% for autor in autors %}
        <li>{{autor}}</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}

    {% if categories %}
    <h2>Categories:</h2>
    <div class="post">
    <ul>
        {% for category in categories %}
        <li>{{category}}</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
</body>
</html>