{% load static %}
<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nábytok</title>
    <link rel="stylesheet" href="{% static 'eshop/style.css'%}">
    <link rel="icon" href="{% static 'eshop/sofa_icon.ico'%}">
</head>
<body>
    <h1>Nábytok</h1>
    {% if  products %}
    <div class="Img">
        <img src="{% static 'eshop/sedacia-suprava.png' %}" alt="sedacia súprava" title="sedacia súprava">
    </div>
    {% endif %}
    
    {% if categories %}
    <div class="grid-container">
    <h2>Kategórie:</h2>
    <ul>
        {% for category in categories %}
        <li>{{category}}</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}

    {% if products %}
    <h2>Produkty:</h2>
    {% for product in products %}
        <h4>{{product.name}}</h4>
    <ul>
        <li><strong>Kategória: </strong>{{product.category}}</li>
        <li><strong>Cena: </strong>{{product.price}} €</li>
        <li><strong>Popis: </strong>{{product.description}}</li>
    </ul>
    {% endfor %}
    {% endif %}
    


    {% if customers %}
    <div class="grid-container">
    <h2>Zákazníci:</h2>
        <ul>
            {% for customer in customers %}
            <li>{{customer}}</li>
            {% endfor %}
        </ul>
    </div>
    
    {% endif %}

    {% if orders %}
    
    <div class="grid-container">
        <h2>Objednávky:</h2>
        {% for order in orders %}
            <ul>
                <li>Objednávka číslo {{order.cislo}}</li>
                <li>Zákazník: {{order.customer}}</li>
                <li>Produkt: {{order.order.name}}</li>
                <li>Čas vytvorenia: {{order.date}}</li>
            </ul>
        {% endfor %}
    </div>
    
    {% endif %}
</body>
</html>