{% extends "base.html" %}
{% block content %}
    <div class="container pt-3">
    {% if kruzok %}
    <h2>Krúžok: {{kruzok}}</h2>
    {% endif %}
    
    {% if ucitel %}
    <div class="item">
        <p>Učiteľ krúžku: <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'ucitel' ucitel=ucitel.id %}">{{ucitel.titul}} {{ucitel.meno}} {{ucitel.priezvisko}}</a></p>
    </div>
    {% endif %}
    {% if studenti %}
    <div class="item">
        <h3>Študenti:</h3>
        <ul class="list-group">
            {% for student in studenti %}
            <li class="list-group-item"><a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'student' student=student.id %}">{{student}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    </div>
{% endblock  %}