{% extends "base.html" %}
{% block content %}
    {% if trieda %}
    <div class="container pt-3">
    <h2>Trieda: {{trieda}}</h2>
    {% endif %}
    
    {% if ucitel %}
    <div class="item">
        <p>Triedny učiteľ: {{ucitel}}</p>
    </div>
    {% endif %}
    {% if studenti %}
    <div class="item">
        <h3>Študenti:</h3>
        <ul class="list-group">
            {% for student in studenti %}
            <li class="list-group-item">{{student}}</li>
            {% endfor %}
        </ul>
    </div>
    </div>
    {% endif %}
{% endblock  %}