{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'skola/style.css'%}">
</head>
<body>
    {% if trieda %}
    <h1>{{trieda}}</h1>
    {% endif %}




    <img src="{% static 'skola/spsit.png'%}" title="spsit" alt="spsit">
    
    {% if ucitel %}
    <div class="item">
        <h2>Triedny učiteľ</h2>
        <ul>
            <li>{{ucitel}}</li>
        </ul>
    </div>
    {% endif %}
    {% if studenti %}
    <div class="item">
        <h2>Študenti:</h2>
        <ul>
            {% for student in studenti %}
            <li>{{student}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</body>
</html>