{% extends "base.html" %}
{% block content %}
<div class="container pt-3">
    {% if ucitel %}
    <h2>Učiteľ: {{ucitel.titul}} {{ucitel.meno}} {{ucitel.priezvisko}}</h2>
    <p>Bydlisko: {{ucitel.ulica}}, {{ucitel.obec}} {{ucitel.psc}}</p>
    <p>Dátum narodenia: {{ucitel.datum_narodenia}}</p>
    {% endif %}

    {% if trieda %}
    <div class="item">
        <p>Trieda: <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'trieda' trieda=trieda %}">{{trieda}}</a></p>
    </div>
    {% endif %}

    {% if kruzok %}
    <div class="item">
        <p>Krúžok: {{kruzok}}</p>
    </div>
    {% endif %}
</div>
{% endblock  %}